VITE_API_URL="http://localhost:8765"
VITE_APP_NAME="BeReady"
VITE_APP_ENV="development"
VITE_RECAPTCHA_SITE_KEY="sua_chave_site_do_recaptcha"
VITE_RECAPTCHA_JS_URL="https://www.google.com/recaptcha/api.js"